<a href="https://colab.research.google.com/github/sambhajizambre/Assignments/blob/main/cutoff%20project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import datetime
from datetime import date
Data=pd.read_csv('/content/drive/MyDrive/python/project python.csv')
Data

   customer ID           brand        Date  Brand count
0            1          adidas  01/01/2021            3
1            1            polo  01/01/2021            1
2            2           levis  02/01/2021            2
3            2  tomy hilfigure  02/01/2021            1
4            2            nike  03/01/2021            4
5            2            puma  03/01/2021            4

In [3]:
data1=Data.groupby(['customer ID', 'Date']).agg(max=('Brand count', 'max'),total=('Brand count', 'sum')).reset_index()
data1

   customer ID        Date  max  total
0            1  01/01/2021    3      4
1            2  02/01/2021    2      3
2            2  03/01/2021    4      8

In [10]:
data1['Percentage cutoff']= (data1['max']/data1['total'])*100
data1

   customer ID        Date  max  total  Percentage cutoff
0            1  01/01/2021    3      4          75.000000
1            2  02/01/2021    2      3          66.666667
2            2  03/01/2021    4      8          50.000000

In [5]:
Data

   customer ID           brand        Date  Brand count
0            1          adidas  01/01/2021            3
1            1            polo  01/01/2021            1
2            2           levis  02/01/2021            2
3            2  tomy hilfigure  02/01/2021            1
4            2            nike  03/01/2021            4
5            2            puma  03/01/2021            4

In [6]:
data2=Data.groupby(['customer ID', 'Date']).agg(min=('Brand count', 'min'),total=('Brand count', 'sum')).reset_index()
data2

   customer ID        Date  min  total
0            1  01/01/2021    1      4
1            2  02/01/2021    1      3
2            2  03/01/2021    4      8

In [7]:
data2['Percentage cutoff']= (data2['min']/data2['total'])*100
data2

   customer ID        Date  min  total  Percentage cutoff
0            1  01/01/2021    1      4          25.000000
1            2  02/01/2021    1      3          33.333333
2            2  03/01/2021    4      8          50.000000

In [8]:
Final = pd.concat([data1 , data2], axis=1, sort=False)
Final

,customer ID,Date,max,total,Percentage cutoff,customer ID,Date,min,total,Percentage cutoff
0,1,01/01/2021,3,4,75.000000,1,01/01/2021,1,4,25.000000
1,2,02/01/2021,2,3,66.666667,2,02/01/2021,1,3,33.333333
2,2,03/01/2021,4,8,50.000000,2,03/01/2021,4,8,50.000000

In [13]:
data1.append(data2)

   customer ID        Date  max  total  Percentage cutoff  min
0            1  01/01/2021  3.0      4          75.000000  NaN
1            2  02/01/2021  2.0      3          66.666667  NaN
2            2  03/01/2021  4.0      8          50.000000  NaN
0            1  01/01/2021  NaN      4          25.000000  1.0
1            2  02/01/2021  NaN      3          33.333333  1.0
2            2  03/01/2021  NaN      8          50.000000  4.0